@import "../bower_components/bootstrap/less/bootstrap.less";
@import "include/variables.less";

body {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* gradients */

nav {
    background: linear-gradient(to right, #936925, #c9a548, #936925);
}
